VITE_REOWN_PROJECT_ID=39b6b2b7c41ad4a663db80a48c302899
VITE_NARA_RPC_URL=https://mainnet-api.nara.build/
VITE_SOLANA_RPC_URL=https://solana-rpc.publicnode.com
VITE_NARA_ROUTER_BASE=https://smart-router.nara.build
